doctype html
html(lang='en', mode='normal')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Xgag')
    meta(name='author', content='exma')
    title= title
    //- Bootstrap Core CSS
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap-theme.min.css')
    //- Custom CSS
    link(rel='stylesheet' href='/stylesheets/style.css')

    //- jQuery
    script(type='text/javascript' src='/jquery/dist/jquery.min.js')
    //- Bootstrap Core JavaScript
    script(type='text/javascript' src='/bootstrap/dist/js/bootstrap.min.js')
    //- Custom JS
    script(type='text/javascript' src='/javascripts/main.js')


    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <![endif]
  body
    include Common/header
    block content
    include Common/footer
    include dialog

