.container
  hr
  footer
    .row
      .col-lg-12
        p Hackathon Tw &copy; 2015
          | This Power by
          a(href="https://hackathon.tw/", target="_blank") Hackathon Tw
          | Welcome to contact us Hackathon.Tw
